# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv/
env/
venv.bak/

# Database files
*.db
data/  # Pokud přesuneš databázi do složky data/

# Python build artifacts
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Flask instance folder
instance/
.webassets-cache

# Testing and coverage
.coverage
.coverage.*
.pytest_cache/

# Replit specific
.pythonlibs/
.upm/

# Temporary files
*.log